.contact-container{
    width: 100%;
    padding: 50px;
    min-height: 100vh;
    background-color: rgb(163, 184, 184);
    
}
.blog{
    width: 100%;
    padding: 40px;
    background-color: aliceblue;
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.blog p{
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(92, 95, 97);
}
.bot-blog{
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.bot-blog img{
    width: 30%;
    height: 300px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.9);

}

.contact-container h1{
    font-size: 3.5rem;
    padding: 20px;
    color: #414542;
}
.info-body{
    padding: 20px;
    width: 100%;
    background-color: antiquewhite;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.para{
    padding: 10px;
    font-size: 25px;
    width: 40%;
    text-align: justify;
    line-height: 1.8;
}
.contact{
    padding: 10px;
    width: 35%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: aliceblue;
    border: none;
    border-radius: 15px;
}
.contact:hover{
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.9);
}
.linkedin,
.git-hub ,
.mail ,
.port {
    display: flex;
    text-decoration: underline;
    text-align: justify;
    gap: 20px;
    font-size: 25px;
    font-weight: 600;
}
.linkedin a,
.git-hub a,
.mail a,
.port a{
    text-decoration: none;
    color: rgb(95, 95, 95);
   
}
@media (max-width: 900px){
    .contact-container{
        padding: 20px;
    }
    .info-body{
        flex-direction: column;
        padding: 10px;

    }
    .para{
        width: 100%;
        padding: 10px;
    }
    .contact-container h1{
        font-size: 30px;
    }
    .contact{
        width: 100%;
        padding: 10px;
    }
    .bot-blog{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    
    }
    .bot-blog img{
       width: 300px;
    }
    .blog{
        padding: 20px;
    }
    .blog p{
        font-size: 2.0rem;
    }
    
}